# -------------------
# Binary files
# -------------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
#/[a-zA-Z0-9_-]*

# -------------------
# Build folder
# -------------------
bin/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archives
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# Conf/temp files
*.json
*.env
*.tmp
*.bak
*.txt

# IDE
.vscode/
.idea/
*.swp
.gigaide/

# Sysfiles
.DS_Store
Thumbs.db

# Go
/go.sum

# leave go.mod
!go.mod

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
