version: "3.9"

services:
  backend:
    container_name: multibank__backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: multibank-backend:dev
    restart: unless-stopped
    environment:
      MB_LOG_LEVEL: ${MB_LOG_LEVEL:-debug}
    ports:
      - "${BACKEND_PORT:-8080}:8080"
    volumes:
      # read-only cfg
      - ./backend/config/local.yaml:/etc/multibank/config.yaml:ro
      # logs and db
      - ./backend/logs:/app/logs
      - ./backend/storage:/app/storage
    networks:
      - multibank_net

  # TODO
  frontend:
    container_name: multibank__frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: multibank-frontend:dev
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    depends_on:
      - backend
    networks:
      - multibank_net


networks:
  multibank_net:
    driver: bridge
