basePath: /
definitions:
  dto.BankResponse:
    properties:
      api_base_url:
        type: string
      code:
        type: string
      id:
        type: integer
      is_enabled:
        type: boolean
      name:
        type: string
    type: object
  dto.ErrorResponse:
    properties:
      error:
        example: invalid credentials
        type: string
    type: object
  dto.LoginRequest:
    properties:
      email:
        example: user@example.com
        type: string
      password:
        example: P@ssw0rd123
        type: string
    type: object
  dto.RegisterRequest:
    properties:
      birthdate:
        description: YYYY-MM-DD
        example: "1990-01-15"
        type: string
      email:
        example: user@example.com
        type: string
      first_name:
        example: Ivan
        type: string
      last_name:
        example: Petrov
        type: string
      password:
        example: P@ssw0rd123
        type: string
      patronymic:
        example: Ivanovich
        type: string
    type: object
  dto.TokenResponse:
    properties:
      access_token:
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        type: string
      expires_in:
        example: 3600
        type: integer
    type: object
  dto.UserResponse:
    properties:
      birthdate:
        type: string
      created_at:
        type: string
      email:
        type: string
      first_name:
        type: string
      id:
        type: integer
      is_admin:
        type: boolean
      last_name:
        type: string
      patronymic:
        type: string
      updated_at:
        type: string
    type: object
info:
  contact: {}
  description: API для аутентификации и пользователей.
  title: Multibank API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: |-
        Returns access_token using e-mail and password.

        **Request example**
        ```json
        {
        "email": "user@example.com",
        "password": "P@ssw0rd123"
        }
        ```

        **Response example**
        ```json
        {
        "access_token": "eyJhbGciOi...",
        "expires_in": 3600
        }
        ```
      parameters:
      - description: Login payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.TokenResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Login
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: |-
        User registration. Returns access_token (usable immediately).

        **Request example**
        ```json
        {
        "email": "user@example.com",
        "first_name": "Ivan",
        "last_name": "Petrov",
        "patronymic": "Ivanovich",
        "birthdate": "1990-01-15",
        "password": "P@ssw0rd123"
        }
        ```

        **Response example**
        ```json
        {
        "access_token": "eyJhbGciOi...",
        "expires_in": 3600
        }
        ```
      parameters:
      - description: Register payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.TokenResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "409":
          description: email already used
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Register user
      tags:
      - auth
  /banks:
    get:
      consumes:
      - application/json
      description: Retrieves the list of all banks enabled (is_enabled = true) in
        the system.
      produces:
      - application/json
      responses:
        "200":
          description: List of banks
          schema:
            items:
              $ref: '#/definitions/dto.BankResponse'
            type: array
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get a list of available banks
      tags:
      - Banks
  /me:
    get:
      description: Возвращает профиль текущего аутентифицированного пользователя
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get current user
      tags:
      - me
  /users/{id}:
    get:
      description: Access is restricted by the token owner (the ID must match)
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Get user by ID
      tags:
      - users
schemes:
- http
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
